<section id="conoceme" class="height-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h2 class="text-colour lobster-cursiva">¿Quién es Wendy? </h2>
        <p class="paragraph">
            Hola, soy Wendy, amante del auto-aprendizaje, sé que no se logra nada útil ni grande,
            sin esfuerzo ni sacrificio, es por ello que tomé el riesgo de transformar mi vida gracias al código,
             desde ese momento no he dejado de aprender ni de asumir nuevos retos.
             </p>
             <p class="paragraph" >
                Mi meta es abrirme camino en el sector tecnológico y aplicar todos mis conocimientos en el desarrollo de
                 productos digitales.
             </p>
             <p class="paragraph">
                Mi sueño es ser desarrolladora full stack en el futuro.
             </p>
        <a href="./assets/image/wendyquispequispe.pdf" target="_blank"  class="letter-thing button-cv strong margin-top">DESCARGA MI CV </a>
      </div>
    </div>
  </div>
</section>