
<div class="mt-5">
  <div class="row bgf pb-4 pt-4 container-proyect">
    <div class="col-md-12 flex col-sm-12 col-lg-7">
      <figure class="snip1477">
        <img class="img-portafolio img-responsive img-padg" [src]="proyecto.img" alt="lab-card" />   
      </figure>

      <div class="flex">
        <div class="flex1">  
          <app-boton [info]="info" *ngFor="let info of proyecto.informacion"></app-boton>              
        </div>
      </div>


    </div>
    <div class="col-md-12 col-sm-12 col-lg-5"><br>
      <div class="ml-3 mr-3">      
        <h2 class="lobster-cursiva color-lila-strong herramientas subrayado-celeste"> {{proyecto.nombre }} </h2>
        <p class="paragraph"> {{ proyecto.descripcion }} </p>  
        <br>
        <br>     
        <div class="flex">
          <div class="flex1">
          <app-tecnologia [item]="item" *ngFor="let item of proyecto.tecnologias"> </app-tecnologia>
          </div>
        </div>
        <!-- <br> -->
      </div>
      <!-- <div class="flex">
        <div class="flex1">  
          <app-boton [info]="info" *ngFor="let info of proyecto.informacion"></app-boton>              
        </div>
      </div> -->
      <br>
      <br>
      <p style="font-weight: 700" class="text-center none">Elaborado para <span class="font-weight-bold">Laboratoria.</span></p>     
    </div>
  </div>
</div> <br>
