<div id="particles-js"></div>

<nav class=" bg-purple navbar-fixed-top p-3">
  <div class="container">
    <!-- MENU HAMBURGUESA -  -->
    <div class="navbar-header content">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <h2 class="color-lila-strong lobster-cursiva strong logo-wen">W T  Q</h2>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse  navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-horizontal navbar-right" style="padding-top: 7px;">
        <li><a data-scroll class="color-gray strong" href="#conoceme">CONÓCEME</a></li>         
        <li><a data-scroll class="color-gray strong" href="#portafolio">PORTAFOLIO</a></li>
        <li><a data-scroll class="color-gray strong" href="#contactame">CONTÁCTAME</a></li>
      </ul>
    </div>
  </div>
</nav>