ul li a {
    font-size: 14px;
  }
  
  #particles-js {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
  }
  
  .domingo {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.3)), url(assets/image/portada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .size {
    width: 250px;
  }
  
  .text-orange {
    color: #c5819a;
    background-color: white;
    padding: 5px;
    display: inline-block;
  }
  
  .profession {
    background-color: black;
    padding: 5px;
    display: inline-block;
  }
  
  
  .text-colour {
    color: #c5819a;
    padding-bottom: 20px;
  }
  
  .paragraph {
    font-size: 1.3em;
    color: #868686;
    line-height: 1.7;
    font-family: 'Muli', sans-serif;
  }
  
  .content-h {
    padding: 70px 20px;
  }
  
  
  .lobster-cursiva {
    font-family: 'Lobster', cursive;
  }
  
  .letter-thing {
    font-family: 'Arapey', serif;
  }
  
  .color-lila-strong {
    color: rgb(197, 129, 154);
  }
  
  .button-cv {
    
    color: #44454f;
    font-size: 1.2em;
    border-bottom: 2px solid aqua;
    display: inline-block;
  }
  
  .subrayado-celeste {
    border-bottom: 2px solid aqua;
    display: inline-block;
  }
  
  .margin-top {
    margin-top: 50px;
  }
  
  .container-proyect {
    background-color: white;
    padding: 15px 30px;
  }
  
  .button-cv:hover {
    color: rgb(197, 129, 154);
    cursor: pointer;
  }
  
  
  
  .description {
    color: #868686;
    font-family: 'Muli', sans-serif;
    text-align: left;
    line-height: 1.5;
    margin: 15px;
  }
  
  .title {
    color: #fff;
    font-family: 'Arapey', serif;
    margin-bottom: 50px;
    border-bottom: 2px solid aqua;
    display: inline-block;
    line-height: 2;
  }
  
  .img-tools {
    width: 120px;
  }
  
  .container-inf-img {
    margin-top: 40px;
  }
  
  .container-sup-img {
    margin-top: 40px;
  }
  
  .height-content {
    margin: 90px 0px;
  }
  
  .btoon {
    border: 2px solid aqua !important;
    color: #44454f;
    font-size: 1.3em;
    font-family: 'Arapey', serif;
    font-weight: 700;
  }
  
  .img-padg {
    padding-top: 55px;
  }
  
  
  .bg-purple {
    background-color: #edd7df;
  }
  
  .secionContactame {
    height: 500px;
  
  }
  
  
  .bg-image {
      height: 90vh;
      margin-top: 10%;
      padding: 5%;
      position: relative;
  }
  
  .logo-wen {
      display: inline-block;
      font-size: 3em;
      cursor: pointer;
  }
  
  .text-white {
    color: #fff;
  }
  
  .color-gray {
    color: #868686;
  }
  
  ul {
    transform: translateY(12%);
  }
  
  
  .icon-bar {
    background-color: #fff;
    height: 4px !important;
    margin-top: 2px !important;
  }
  
  .max-vh {
    height: 95vh;
  }
  
  
  .box {
    padding: 50px 0px;
  }
  
  
  .text-center {
      text-align: center;
  }
  
  .text-right {
      text-align: right;
  }
  
  .strong {
    font-weight: 700;
  }
  
  .bg-h1 {
    transform: translateY(120%);
  }
  
  .size2 {
    width: 50px;
  }
  
  .herramientas {
    
    margin-bottom: 20px;
  
  }
  
  .style {
    padding-top: 40px;
  }
  
  section-contact {
    height: 90vh;
  }
  
  .img-port {
    width: 50px;
  }
  
  .img-icons {
    width: 30px;
    padding-right: 5px;
  }
  
  .btn-my2 {
    border-radius: 0px;
    color: #3E333F;
    border: 2px solid #3E333F;
    background-color: transparent;
    transition: all .5s;
  }
  
  .btn-my2:hover{
    color: rgb(197, 129, 154);
      /* background-color: rgb(197, 129, 154); */
      border: 2px solid rgb(197, 129, 154);
    text-decoration: none;
  }
  
  .margin-tp {
    margin-top: 100px
  }
  
  .boton {
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flex1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  footer p {
    background-color: #343530;
    color: white;
    height: 50px;
    font-size: 1.5em;
    padding-top: 15px;
    margin: 0px;
  }
  
  .space-left {
    padding-left: 10%;
  }
  
  @media (max-width: 600px) {
    .space-left {
      padding-right: 12%;
    }
  }
  
  .color-contactme {
    font-size: 1.3em;
    color: #868686 !important;
    line-height: 1.7;
  }
  
  
  /* PRACTICA CSS */
  
  
  .img-hover-text {
    margin: auto;
    position: relative;
    padding: 5px 50px;
  }
  
  .img-hover-text img {
    width: 100%;
    transition: .5s;
  }
  
  .img-hover-text figcaption {
    position: absolute;
    width: 80%;
    background-color: #fff;
    bottom: 10%;
    left: 10%;
    padding: 10px; 
    box-sizing: border-box;
    opacity: 0;
    border-radius: 10px;
    transition: .5s;
  }
  
  .img-hover-text:hover figcaption {
    opacity: 1;
  }
  
  .img-hover-text:hover img {
    filter: brightness(70%);
  }
  
  
  /* ANIMEID  */
  
  .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    .fast {
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    
    .fadeIn {
      animation-name: fadeIn;
    }